.stats {
  position: relative;
  padding: 3% 0%;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  text-align: center;
  overflow: hidden;
}

/* GRID */
.stats-grid {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.stat-item h3 {
  font-size: 4rem;
  color: #4e7bf8;
  margin-bottom: 5px;
}

.stat-item p {
  color: var(--color-text);
  font-size: 1rem;
}