.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* TÍTULO */
.about h2 {
  font-size: 2.5rem;
}

/* CONTEÚDO */
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
}

/* IMAGEM */
.about img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* TEXTO */
.about-text {
  max-width: 500px;
  text-align: left;
}

/* LINHA */
.underlineAbout {
  width: 120px;
  height: 3px;
  background: #f97316;
  margin: 10px auto 40px;
  border-radius: 2px;
}

/* TABLET */
@media (max-width: 1024px) {
  .about-content {
    gap: 40px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about img {
    max-width: 300px;
  }
}